@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Quicksand:wght@300&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-main: 'Quicksand';
  --font-weight:300;
}
html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}

/* Hero background video styling */
.hero-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/vid.mp4") no-repeat center center / cover;
  background-size: cover;
  opacity: 0.3;
  z-index: 0;
}

.hero-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  z-index: 0;
}
